{{#if user}}
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Welcome {{user.username}}!</h1>
  <p class="lead">This is a simple website using NodeJS with Express</p>
  <p class="lead">Make your own blog</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-md mb-3" href="/admin/categories/add" role="button">Create a category</a>
  <a class="btn btn-primary btn-md mb-3" href="/admin/posts/add" role="button">Create a post</a>
  <p class="mt-3">Created by Viktor Furieri</p>
  
</div>
<h3>Recent Posts</h3>

{{#each post}}
  <div class="card mb-4">
    <div class="card-body">
      <h4>{{title}}</h4>
      <p>{{description}}</p>
      <a href="/posts/{{slug}}"><button class="btn btn-outline-success btn-sm">More info</button></a>
      <hr>
      <small style="display: block;">Category: {{category.name}}</small>
      <small >slug:{{slug}}</small>
      <small>Create at: {{#formatDate date}}{{/formatDate}}</small>
    </div>
  </div>

{{else}}
  <h6>No posts found!</h6>
{{/each}} 

{{else}}
{{/if}} 