<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
</div>

<h3>Recent Posts</h3>


{{#each post}}
  <div class="card mb-4">
    <div class="card-body">
      <h4>{{title}}</h4>
      <p>{{description}}</p>
      <a href="/posts/{{slug}}"><button class="btn btn-outline-success btn-sm">More info</button></a>
      <hr>
      <small style="display: block;">Category: {{category.name}}</small>
      <small >slug:{{slug}}</small>
      <small>Create at: {{#formatDate date}}{{/formatDate}}</small>
    </div>
  </div>

{{else}}
  <h6>No posts found!</h6>
{{/each}}